<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.Debugger.Interop.10.0" version="10.0.30321" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Debugger.Interop.15.0" version="15.9.28308" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Debugger.InteropA" version="9.0.21024" targetFramework="net46" />
</packages>