<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnvDTE" version="16.7.30508.193" targetFramework="net472" />
  <package id="EnvDTE100" version="16.7.30328.74" targetFramework="net472" />
  <package id="EnvDTE80" version="16.7.30328.74" targetFramework="net472" />
  <package id="EnvDTE90" version="16.7.30328.74" targetFramework="net472" />
  <package id="EnvDTE90a" version="16.7.30328.74" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="16.0.428" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Debugger.Interop.11.0" version="11.0.50729" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Debugger.Interop.14.0" version="14.3.25409" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Debugger.Interop.15.0" version="15.9.28308" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Debugger.InteropA" version="9.0.21024" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.ImageCatalog" version="16.0.28727" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Imaging" version="16.0.28729" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime" version="14.3.26930" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="16.7.30328.74" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Project" version="1.0.0.0" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.SDK.EmbedInteropTypes" version="15.0.27" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.15.0" version="16.0.28729" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Framework" version="16.0.28729" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.10.0" version="15.0.25415" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.11.0" version="15.0.25415" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.12.0" version="15.0.25415" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="16.7.30328.74" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.10.0" version="16.7.30328.74" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.11.0" version="16.7.30328.74" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.12.0" version="16.7.30328.74" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.14.0.DesignTime" version="14.3.26929" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.15.3.DesignTime" version="15.0.26929" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.15.6.DesignTime" version="15.6.27413" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="16.7.30328.74" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.9.0" version="16.7.30328.74" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Text.Data" version="16.0.428" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="16.7.30328.74" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="16.7.30328.74" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Threading" version="16.0.102" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Utilities" version="16.0.28729" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Validation" version="15.3.58" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net46" />
  <package id="stdole" version="16.7.30508.193" targetFramework="net472" />
  <package id="StreamJsonRpc" version="1.5.43" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net472" />
</packages>