<?xml version="1.0" encoding="utf-8"?>
<ProjectSchemaDefinitions xmlns="http://schemas.microsoft.com/build/2009/properties" xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml" xmlns:sys="clr-namespace:System;assembly=mscorlib">

  <!--
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    -->

  <Rule
    Name="AndroidManifest"
    PageTemplate="tool"
    DisplayName="Android Manifest Tool"
    Order="200">

    <!--
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    -->
    
    <Rule.DataSource>
      <DataSource Persistence="ProjectFile" ItemType="AndroidManifest" />
    </Rule.DataSource>

    <!--
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    -->

    <Rule.Categories>
      <Category Name="General" DisplayName="General" />
      <Category Name="Advanced" DisplayName="Advanced" />
    </Rule.Categories>

    <!--
      ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
      ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
      ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    -->

    <!--
    PrintAndroidSpecificData
    -->

    <BoolProperty
      Name="PrintAndroidSpecificData"
      DisplayName="Print Android Specific Data"
      Description="Print Android-specific data (resources, manifest) when listing"
      Category="Advanced"
      Switch="-a"
    />

    <!--
    ConfigurationsToInclude
    -->

    <StringProperty
      Name="ConfigurationsToInclude"
      DisplayName="Configurations To Include"
      Description="Specify which configurations to include. The default is all configurations. Locales should be specified as either a language or language-region pair. I.e. 'port,land,en_US'"
      Category="Advanced"
      Switch="-c"
    />

    <!--
    DeviceAssetsToInclude
    -->

    <StringProperty
      Name="DeviceAssetsToInclude"
      DisplayName="Device Assets To Include"
      Description="One or more device assets to include, separated by commas."
      Category="Advanced"
      Switch="-d"
    />

    <!--
    OverwriteExistingFiles
    -->

    <BoolProperty
      Name="OverwriteExistingFiles"
      DisplayName="Overwrite Existing Files"
      Category="Advanced"
      Switch="-f"
    />

    <!--
    DeviceAssetsToInclude
    -->

    <IntProperty
      Name="GreyscalePixelTolerance"
      DisplayName="Greyscale Pixel Tolerance"
      Description="Specify a pixel tolerance to force images to grayscale, default 0."
      Category="Advanced"
      Switch="-g"
      Separator=" "
    />

    <!--
    IncludeJarOrZip
    -->

    <StringListProperty
      Subtype="file"
      Name="IncludeJarOrZip"
      DisplayName="Include .Jar Or .Zip"
      Description="Specify a .jar or .zip file containing classes to include."
      Category="General"
      Switch="-j"
      Separator=" "
    />

    <!--
    CreatePackageDirectoriesUnderOutput
    -->

    <BoolProperty
      Name="CreatePackageDirectoriesUnderOutput"
      DisplayName="Create Package Directories Under Output"
      Description="Make package directories under location specified by -J."
      Category="Advanced"
      Switch="-m"
    />

    <!--
    UpdateExistingPackages
    -->

    <BoolProperty
      Name="UpdateExistingPackages"
      DisplayName="Update Existing Packages"
      Description="Update existing packages (add new, replace older, remove deleted files)."
      Category="Advanced"
      Switch="-u"
    />

    <!--
    Verbose
    -->

    <BoolProperty
      Name="Verbose"
      DisplayName="Verbose Output"
      Category="General"
      Switch="-v"
    />

    <!--
    CreateExistingResourceIds
    -->

    <BoolProperty
      Name="CreateExistingResourceIds"
      DisplayName="Create Existing (Non-Application) Resource Ids"
      Category="Advanced"
      Switch="-x"
    />

    <!--
    RequireSuggestedLocalisationResources
    -->

    <BoolProperty
      Name="RequireSuggestedLocalisationResources"
      DisplayName="Require Suggested Localisation Resources"
      Description="Require localisation of resource attributes marked with 'localization=&quot;suggested&quot;'."
      Category="Advanced"
      Switch="-x"
    />

    <!--
    IncludeRawAssetsDirectory
    -->

    <StringProperty
      Subtype="folder"
      Name="IncludeRawAssetsDirectory"
      DisplayName="Include Raw 'Assets' Directory"
      Description="Additional directory in which to find raw asset files."
      Category="General"
      Switch="-A"
      Separator=" "
    />

    <!--
    ProguardOptionsOutputFile
    -->

    <StringProperty
      Subtype="file"
      Name="ProguardOptionsOutputFile"
      DisplayName="Proguard Options Output File"
      Description="A file to output proguard options into."
      Category="Advanced"
      Switch="-G"
      Separator=" "
    />

    <!--
    ApkOutputFile
    -->

    <StringProperty
      Subtype="file"
      Name="ApkOutputFile"
      DisplayName=".APK Output File"
      Description="Specify the .apk filename to output."
      Category="General"
      Switch="-F"
      Separator=" "
    />

    <!--
    IncludeExistingPackages
    -->

    <StringListProperty
      Subtype="file"
      Name="IncludeExistingPackages"
      DisplayName="Include Existing Package"
      Description="Add an existing package to base include set."
      Category="Advanced"
      Switch="-I"
      Separator=" "
    />

    <!--
    ResourceConstantsOutputDirectory
    -->

    <StringProperty
      Subtype="folder"
      Name="ResourceConstantsOutputDirectory"
      DisplayName="Resource Constants Output Directory"
      Description="Specify where to output 'R.java' resource constant definitions."
      Category="General"
      Switch="-J"
      Separator=" "
    />

    <!--
    IncludeAndroidManifest
    -->

    <StringProperty
      Subtype="file"
      Name="IncludeAndroidManifest"
      DisplayName="Include AndroidManifest.xml"
      Description="Specify full path to AndroidManifest.xml."
      Category="General"
      Switch="-M"
      Separator=" "
    />

    <!--
    PublicResourceDefintionsOutputFile
    -->

    <StringProperty
      Subtype="file"
      Name="PublicResourceDefintionsOutputFile"
      DisplayName="Public Resource Defintions Output File"
      Description="Specify where to output public resource definitions."
      Category="Advanced"
      Switch="-P"
      Separator=" "
    />

    <!--
    IncludeResourceDirectories
    -->

    <StringListProperty
      Subtype="folder"
      Name="IncludeResourceDirectories"
      DisplayName="Include Resource Directories"
      Description="Directories in which to find resources. Multiple directories will be scanned and the first match found (left to right) will take precedence."
      Category="General"
      Switch="-S"
      Separator=" "
    />

    <!--
    NoNotCompressExtensions
    -->

    <StringListProperty
      Subtype="folder"
      Name="NoNotCompressExtensions"
      DisplayName="No Not Compress Extensions"
      Description="Specifies an additional extension for which such files will not be stored compressed in the .apk. An empty string means to not compress any files at all."
      Category="Advanced"
      Switch="-0"
      Separator=" "
    />

    <!--
    DebugMode
    -->

    <BoolProperty
      Name="DebugMode"
      DisplayName="Debug Mode"
      Description="Inserts android:debuggable='true' in to the application node of the manifest, making the application debuggable even on production devices."
      Category="General"
      Switch="--debug-mode"
    />

    <!--
    InsertManifestMinSdkVersion
    -->

    <EnumProperty
      Name="InsertManifestMinSdkVersion"
      DisplayName="Insert Manifest Min SDK Version"
      Description="Inserts android:minSdkVersion in to manifest."
      Category="Advanced"
      Switch="--min-sdk-version"
      Separator=" ">

      <EnumValue Name="19" DisplayName="Android 4.4 (android-19)" />
      <EnumValue Name="18" DisplayName="Android 4.3 (android-18)" />
      <EnumValue Name="17" DisplayName="Android 4.2 (android-17)" />
      <EnumValue Name="16" DisplayName="Android 4.1 (android-16)" />
      <EnumValue Name="15" DisplayName="Android 4.0.3 (android-15)" />
      <EnumValue Name="14" DisplayName="Android 4.0 (android-14)" />
      <EnumValue Name="13" DisplayName="Android 3.2 (android-13)" />
      <EnumValue Name="12" DisplayName="Android 3.1.x (android-12)" />
      <EnumValue Name="11" DisplayName="Android 3.0.x (android-11)" />
      <EnumValue Name="10" DisplayName="Android 2.3.3 (android-10)" />
      <EnumValue Name="9" DisplayName="Android 2.3 (android-9)" />
      <EnumValue Name="8" DisplayName="Android 2.2 (android-8)" />
      <EnumValue Name="5" DisplayName="Android 2.0 (android-5)" />
      <EnumValue Name="4" DisplayName="Android 1.6 (android-4)" />
      <EnumValue Name="3" DisplayName="Android 1.5 (android-3)" />

    </EnumProperty>

    <!--
    InsertManifestMaxSdkVersion
    -->

    <EnumProperty
      Name="InsertManifestTargetSdkVersion"
      DisplayName="Insert Manifest Target SDK Version"
      Description="Inserts android:targetSdkVersion in to manifest."
      Category="Advanced"
      Switch="--target-sdk-version"
      Separator=" ">

      <EnumValue Name="19" DisplayName="Android 4.4 (android-19)" />
      <EnumValue Name="18" DisplayName="Android 4.3 (android-18)" />
      <EnumValue Name="17" DisplayName="Android 4.2 (android-17)" />
      <EnumValue Name="16" DisplayName="Android 4.1 (android-16)" />
      <EnumValue Name="15" DisplayName="Android 4.0.3 (android-15)" />
      <EnumValue Name="14" DisplayName="Android 4.0 (android-14)" />
      <EnumValue Name="13" DisplayName="Android 3.2 (android-13)" />
      <EnumValue Name="12" DisplayName="Android 3.1.x (android-12)" />
      <EnumValue Name="11" DisplayName="Android 3.0.x (android-11)" />
      <EnumValue Name="10" DisplayName="Android 2.3.3 (android-10)" />
      <EnumValue Name="9" DisplayName="Android 2.3 (android-9)" />
      <EnumValue Name="8" DisplayName="Android 2.2 (android-8)" />
      <EnumValue Name="5" DisplayName="Android 2.0 (android-5)" />
      <EnumValue Name="4" DisplayName="Android 1.6 (android-4)" />
      <EnumValue Name="3" DisplayName="Android 1.5 (android-3)" />

    </EnumProperty>

    <!--
    InsertManifestVersionCode
    -->

    <StringProperty
      Name="InsertManifestVersionCode"
      DisplayName="Insert Manifest Version Code"
      Description="Inserts android:versionCode in to manifest."
      Category="Advanced"
      Switch="--version-code"
      Separator=" "
    />

    <!--
    InsertManifestVersionName
    -->

    <StringProperty
      Name="InsertManifestVersionName"
      DisplayName="Insert Manifest Version Name"
      Description="Inserts android:versionName in to manifest."
      Category="Advanced"
      Switch="--version-name"
      Separator=" "
  />

    <!--
    MaxResVersion
    -->

    <StringProperty
      Name="MaxResVersion"
      DisplayName="Max Res Version"
      Description="Ignores versioned resource directories above the given value."
      Category="Advanced"
      Switch="--max-res-version"
      Separator=" "
    />

    <!--
    CustomPackage
    -->

    <StringProperty
      Name="CustomPackage"
      DisplayName="Custom Package"
      Description="Generates R.java into a different package."
      Category="Advanced"
      Switch="--custom-package"
      Separator=" "
    />

    <!--
    ExtraPackages
    -->

    <StringProperty
      Name="ExtraPackages"
      DisplayName="Extra Packages"
      Description="Generate R.java for libraries. Separate libraries with ':'."
      Category="Advanced"
      Switch="--extra-packages"
      Separator=" "
    />

    <!--
    GenerateDependencies
    -->

    <BoolProperty
      Name="GenerateDependencies"
      DisplayName="Generate Dependencies"
      Description="Generate dependency files in the same directories for R.java and resource package."
      Category="Advanced"
      Switch="--generate-dependencies"
    />

    <!--
    AutoAddOverlay
    -->

    <BoolProperty
      Name="AutoAddOverlay"
      DisplayName="Auto Add Overlay"
      Description="Automatically add resources that are only in overlays."
      Category="Advanced"
      Switch="--auto-add-overlay"
    />

    <!--
    PreferredConfigurations
    -->

    <StringProperty
      Name="PreferredConfigurations"
      DisplayName="Preferred Configurations"
      Description="Like the -c option for filtering out unneeded configurations, but only expresses a preference.  If there is no resource available with the preferred configuration then it will not be stripped."
      Category="Advanced"
      Switch="--preferred-configurations"
      Separator=" "
    />

    <!--
    RenameManifestPackage
    -->

    <StringProperty
      Name="RenameManifestPackage"
      DisplayName="Rename Manifest Package"
      Description="Rewrite the manifest so that its package name is the package name given here.  Relative class names (for example .Foo) will be changed to absolute names with the old package so that the code does not need to change."
      Category="Advanced"
      Switch="--rename-manifest-package"
      Separator=" "
    />

    <!--
    RenameInstrumentationTargetPackage
    -->

    <StringProperty
      Name="RenameInstrumentationTargetPackage"
      DisplayName="Rename Instrumentation Target Package"
      Description="Rewrite the manifest so that all of its instrumentation components target the given package.  Useful when used in conjunction with --rename-manifest-package to fix tests against a package that has been renamed."
      Category="Advanced"
      Switch="--rename-instrumentation-target-package"
      Separator=" "
    />

    <!--
    StringProductVariant
    -->

    <StringProperty
      Name="StringProductVariant"
      DisplayName="String Product Variant"
      Description="Specifies which variant to choose for strings that have product variants."
      Category="Advanced"
      Switch="--product"
      Separator=" "
    />

    <!--
    UseUtf16Encoding
    -->

    <BoolProperty
      Name="UseUtf16Encoding"
      DisplayName="Use UTF-16 Encoding"
      Description="Changes default encoding for resources to UTF-16.  Only useful when API level is set to 7 or higher where the default encoding is UTF-8."
      Category="Advanced"
      Switch="--utf16"
    />

    <!--
    NonConstantResourceId
    -->

    <BoolProperty
      Name="NonConstantResourceId"
      DisplayName="Non Constant Resource Id"
      Description="Make the resources ID non constant. This is required to make an R java class that does not contain the final value but is used to make reusable compil ed libraries that need to access resources."
      Category="Advanced"
      Switch="--non-constant-id"
    />

    <!--
    ErrorOnFailedManifestInsert
    -->

    <BoolProperty
      Name="ErrorOnFailedManifestInsert"
      DisplayName="Error On Failed Manifest Insert"
      Description="Forces aapt to return an error if it fails to insert values into the manifest with --debug-mode, --min-sdk-version, --target-sdk-version --version-code and --version-name. Insertion typically fails if the manifest already defines the attribute."
      Category="Advanced"
      Switch="--error-on-failed-insert"
    />

    <!--
    OutputTextSymbols
    -->

    <BoolProperty
      Name="OutputTextSymbols"
      DisplayName="Output Text Symbols"
      Description="Generates a text file containing the resource symbols of the R class in the specified folder."
      Category="Advanced"
      Switch="--output-text-symbols"
    />

    <!--
    IgnoreAssetPatterns
    -->

    <StringProperty
      Name="IgnoreAssetPatterns"
      DisplayName="Ignore Asset Patterns"
      Description="Assets to be ignored. Default pattern is: !.svn:!.git:!.ds_store:!*.scc:.*:&lt;dir&gt;_*:!CVS:!thumbs.db:!picasa.ini:!*~"
      Category="Advanced"
      Switch="--ignore-assets"
      Separator=" "
    />

    <!--
    IncludeRawDirectories (needs to be last items in command line)
    -->

    <StringListProperty
      Subtype="folder"
      Name="IncludeRawDirectories"
      DisplayName="Include Raw Directories"
      Description="Directories which contents will be included as raw (unprocessed) files."
      Category="General"
      Switch=""
    />

    <!--
    OutputCommandLine
    -->

    <BoolProperty
      Name="OutputCommandLine"
      DisplayName="Output Command Line"
      Category="General"
    />

    <!--
    TrackerLogDirectory
    -->

    <StringProperty
      Subtype="folder"
      Name="TrackerLogDirectory"
      DisplayName="Tracker Log Directory"
      Description="Tracker Log Directory."
      Category="General"
      IncludeInCommandLine="false"
      Visible="false"
    />

    <!--
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    -->
    
    <DynamicEnumProperty
     Name="AndroidManifestBeforeTargets"
     Category="General"
     EnumProvider="Targets"
     IncludeInCommandLine="False">
      <DynamicEnumProperty.DisplayName>
        <sys:String>Execute Before</sys:String>
      </DynamicEnumProperty.DisplayName>
      <DynamicEnumProperty.Description>
        <sys:String>Specifies the targets for the build customization to run before.</sys:String>
      </DynamicEnumProperty.Description>
      <DynamicEnumProperty.ProviderSettings>
        <NameValuePair
          Name="Exclude"
          Value="^AndroidManifestBeforeTargets|^Compute" />
      </DynamicEnumProperty.ProviderSettings>
      <DynamicEnumProperty.DataSource>
        <DataSource
          Persistence="ProjectFile"
          ItemType=""
          HasConfigurationCondition="true" />
      </DynamicEnumProperty.DataSource>
    </DynamicEnumProperty>
    
    <!--
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    -->
    
    <DynamicEnumProperty
      Name="AndroidManifestAfterTargets"
      Category="General"
      EnumProvider="Targets"
      IncludeInCommandLine="False">
      <DynamicEnumProperty.DisplayName>
        <sys:String>Execute After</sys:String>
      </DynamicEnumProperty.DisplayName>
      <DynamicEnumProperty.Description>
        <sys:String>Specifies the targets for the build customization to run after.</sys:String>
      </DynamicEnumProperty.Description>
      <DynamicEnumProperty.ProviderSettings>
        <NameValuePair
          Name="Exclude"
          Value="^AndroidManifestAfterTargets|^Compute" />
      </DynamicEnumProperty.ProviderSettings>
      <DynamicEnumProperty.DataSource>
        <DataSource
          Persistence="ProjectFile"
          ItemType=""
          HasConfigurationCondition="true" />
      </DynamicEnumProperty.DataSource>
    </DynamicEnumProperty>
    
    <!--
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    -->

  </Rule>

  <!--
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  -->

  <ItemType Name="AndroidManifest" DisplayName="Android Manifest Tool" />

  <!-- <FileExtension Name="*.asm" ContentType="AndroidManifest" /> -->

  <ContentType  Name="AndroidManifest" DisplayName="Android Manifest Tool" ItemType="AndroidManifest" />

  <!--
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  -->

</ProjectSchemaDefinitions>
