<?xml version="1.0" encoding="UTF-8"?>
<Wix 
  xmlns="http://schemas.microsoft.com/wix/2006/wi"
  xmlns:vs="http://schemas.microsoft.com/wix/VSExtension">

  <!--
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  -->

  <?define ProductShortName="Android++" ?>
  <?define ProductManufacturer="Justin Webb" ?>
  <?define ProductUpgradeCode="5444daf1-5354-41a9-babd-2ad2ab4179cd" ?>

  <!--
    Version information for an assembly consists of the following four values:
    
          Major Version
          Minor Version 
          Build Number
          Revision
  -->
  
  <?define MajorVersion="0" ?>
  <?define MinorVersion="1" ?>
  <?define BuildVersion="0" ?>
  <?define RevisionVersion="0" ?>

  <?define VersionNumberInternal="$(var.MajorVersion).$(var.BuildVersion).$(var.RevisionVersion)" ?>
  <?define VersionNumberUserVisible="$(var.MajorVersion).$(var.MinorVersion).$(var.BuildVersion)" ?>

  <!--
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  -->

  <Product 
    Id="*" 
    Name="$(var.ProductShortName)" 
    Language="1033" 
    Version="$(var.VersionNumberInternal)" 
    Manufacturer="$(var.ProductManufacturer)" 
    UpgradeCode="$(var.ProductUpgradeCode)">

    <!--
      ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
      ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
      ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    -->

    <Package InstallerVersion="301" Compressed="yes" InstallPrivileges="elevated" InstallScope="perMachine" />

    <!-- Ensure that this installation upgrades installed older versions, error if a newer version exists. -->
    <MajorUpgrade Schedule="afterInstallInitialize" DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Media Id="1" Cabinet="AndroidPlusPlus.cab" EmbedCab="yes" CompressionLevel="high" />

    <!-- Check current user has Administrator permissions.-->
    <Property Id="MSIUSEREALADMINDETECTION" Value="1" />
    <Condition Message="Administrator permissions are required to install this product.">Privileged</Condition>

    <!--  Check for .NET Framework 4.0 -->
    <PropertyRef Id='NETFRAMEWORK40FULL'/>
    <Condition Message="This application requires .NET Framework 4.0. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR (NETFRAMEWORK40FULL)]]>
    </Condition>

    <!-- Check for installations of VS 2010 or VS 2012 (non-Express Editions) -->
    <PropertyRef Id='VS2010_IDE_VC_PROJECTSYSTEM_INSTALLED'/>
    <PropertyRef Id='VS2012_IDE_VC_PROJECTSYSTEM_INSTALLED'/>
    <PropertyRef Id='VS2013_IDE_VC_PROJECTSYSTEM_INSTALLED'/>
    <Condition Message="This application requires a commercial (non-express) installation of Visual Studio 2010, 2012 or 2013.">
      <![CDATA[(VS2010_IDE_VC_PROJECTSYSTEM_INSTALLED) OR (VS2012_IDE_VC_PROJECTSYSTEM_INSTALLED) OR (VS2013_IDE_VC_PROJECTSYSTEM_INSTALLED)]]>
    </Condition>

    <!-- Displays a selectable component list. Not enough choices to justify this yet. -->
    <UIRef Id="WixUI_FeatureTree" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <!-- Add and Remove Programs (ARP) properties. -->
    <Property Id="ARPCONTACT">webbju@android-plus-plus.com</Property>
    <Property Id="ARPURLINFOABOUT">http://www.android-plus-plus.com</Property>
    <Property Id="ARPHELPLINK">http://www.android-plus-plus.com</Property>
    <Property Id="ARPURLUPDATEINFO">http://www.android-plus-plus.com</Property>
    <Property Id="ARPHELPTELEPHONE">http://www.android-plus-plus.com</Property>
    <!-- 
    <Icon Id="ApplicationIcon" SourceFile="Mingle.ico" />
    <Property Id="ARPPRODUCTICON" Value="ApplicationIcon" />
    -->

    <!-- Setup license file default. -->
    <WixVariable Id="WixUILicenseRtf" Value="Resources\EULA.rtf" />
    <!-- <WixVariable Id="WixUIBannerBmp" Value="Resources\WixUIBannerBmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Resources\WixUIDialogBmp.bmp" /> -->

    <!--
      ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
      ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
      ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    -->

    <Directory Id="TARGETDIR" Name="SourceDir">

      <Directory Id="ProgramFilesFolder">

        <Directory Id="INSTALLFOLDER" Name="$(var.ProductShortName)">

          <Directory Id="RootBin" Name="bin">

            <!-- 
              VS2010 assemblies and extension 
            -->

            <Directory Id="RootBinV100" Name="v10.0">

              <Component Id="RootBinV100Component" Guid="1AC3729C-42D9-4C1C-AF38-CC73D4DFA2EB">

                <Condition><![CDATA[(VS2010_IDE_VC_PROJECTSYSTEM_INSTALLED)]]></Condition>

                <File Id="RootBinV100_AndroidPlusPlus_Common_dll" Source="$(var.ProjectRootBin)\v10.0\AndroidPlusPlus.Common.dll"/>
                <File Id="RootBinV100_AndroidPlusPlus_Common_pdb" Source="$(var.ProjectRootBin)\v10.0\AndroidPlusPlus.Common.pdb"/>

                <File Id="RootBinV100_AndroidPlusPlus_VsDebugEngine_dll" Source="$(var.ProjectRootBin)\v10.0\AndroidPlusPlus.VsDebugEngine.dll"/>
                <File Id="RootBinV100_AndroidPlusPlus_VsDebugEngine_pdb" Source="$(var.ProjectRootBin)\v10.0\AndroidPlusPlus.VsDebugEngine.pdb"/>

                <File Id="RootBinV100_AndroidPlusPlus_VsDebugLauncher_dll" Source="$(var.ProjectRootBin)\v10.0\AndroidPlusPlus.VsDebugLauncher.dll"/>
                <File Id="RootBinV100_AndroidPlusPlus_VsDebugLauncher_pdb" Source="$(var.ProjectRootBin)\v10.0\AndroidPlusPlus.VsDebugLauncher.pdb"/>

                <File Id="RootBinV100_AndroidPlusPlus_VsIntegratedPackage_dll" Source="$(var.ProjectRootBin)\v10.0\AndroidPlusPlus.VsIntegratedPackage.dll"/>
                <File Id="RootBinV100_AndroidPlusPlus_VsIntegratedPackage_pdb" Source="$(var.ProjectRootBin)\v10.0\AndroidPlusPlus.VsIntegratedPackage.pdb"/>
                <File Id="RootBinV100_AndroidPlusPlus_VsIntegratedPackage_pkgdef" Source="$(var.ProjectRootBin)\v10.0\AndroidPlusPlus.VsIntegratedPackage.pkgdef"/>
                <File Id="RootBinV100_AndroidPlusPlus_VsIntegratedPackage_vsix" Source="$(var.ProjectRootBin)\v10.0\AndroidPlusPlus.VsIntegratedPackage.vsix" KeyPath="yes">
                  <vs:VsixPackage
                    PackageId="AndroidPlusPlus.VsIntegratedPackage..e57f7102-96b3-4d11-b153-0957bea37363"
                    VsixInstallerPathProperty="VS2010_VSIX_INSTALLER_PATH"
                    Vital="yes"
                    Permanent="no"
                  />
                </File>

              </Component>

            </Directory>

            <!-- 
              VS2012 assemblies and extension 
            -->

            <Directory Id="RootBinV110" Name="v11.0">

              <Component Id="RootBinV110Component" Guid="F10BE334-3B40-428D-9FDE-FC798AB6FE4F">

                <Condition><![CDATA[(VS2012_IDE_VC_PROJECTSYSTEM_INSTALLED)]]></Condition>

                <File Id="RootBinV110_AndroidPlusPlus_Common_dll" Source="$(var.ProjectRootBin)\v11.0\AndroidPlusPlus.Common.dll"/>
                <File Id="RootBinV110_AndroidPlusPlus_Common_pdb" Source="$(var.ProjectRootBin)\v11.0\AndroidPlusPlus.Common.pdb"/>

                <File Id="RootBinV110_AndroidPlusPlus_VsDebugEngine_dll" Source="$(var.ProjectRootBin)\v11.0\AndroidPlusPlus.VsDebugEngine.dll"/>
                <File Id="RootBinV110_AndroidPlusPlus_VsDebugEngine_pdb" Source="$(var.ProjectRootBin)\v11.0\AndroidPlusPlus.VsDebugEngine.pdb"/>

                <File Id="RootBinV110_AndroidPlusPlus_VsDebugLauncher_dll" Source="$(var.ProjectRootBin)\v11.0\AndroidPlusPlus.VsDebugLauncher.dll"/>
                <File Id="RootBinV110_AndroidPlusPlus_VsDebugLauncher_pdb" Source="$(var.ProjectRootBin)\v11.0\AndroidPlusPlus.VsDebugLauncher.pdb"/>

                <File Id="RootBinV110_AndroidPlusPlus_VsIntegratedPackage_dll" Source="$(var.ProjectRootBin)\v11.0\AndroidPlusPlus.VsIntegratedPackage.dll"/>
                <File Id="RootBinV110_AndroidPlusPlus_VsIntegratedPackage_pdb" Source="$(var.ProjectRootBin)\v11.0\AndroidPlusPlus.VsIntegratedPackage.pdb"/>
                <File Id="RootBinV110_AndroidPlusPlus_VsIntegratedPackage_pkgdef" Source="$(var.ProjectRootBin)\v11.0\AndroidPlusPlus.VsIntegratedPackage.pkgdef"/>
                <File Id="RootBinV110_AndroidPlusPlus_VsIntegratedPackage_vsix" Source="$(var.ProjectRootBin)\v11.0\AndroidPlusPlus.VsIntegratedPackage.vsix" KeyPath="yes">
                  <vs:VsixPackage
                    PackageId="AndroidPlusPlus.VsIntegratedPackage..baec2848-0d7c-4c57-a156-d0a340cb993a"
                    VsixInstallerPathProperty="VS2012_VSIX_INSTALLER_PATH"
                    Vital="yes"
                    Permanent="no"
                  />
                </File>

              </Component>

            </Directory>

            <!-- 
              VS2013 assemblies and extension 
            -->

            <Directory Id="RootBinV120" Name="v12.0">

              <Component Id="RootBinV120Component" Guid="AED05AFD-5A55-4B24-ABC7-8398717B3DA1">

                <Condition><![CDATA[(VS2013_IDE_VC_PROJECTSYSTEM_INSTALLED)]]></Condition>

                <File Id="RootBinV120_AndroidPlusPlus_Common_dll" Source="$(var.ProjectRootBin)\v12.0\AndroidPlusPlus.Common.dll"/>
                <File Id="RootBinV120_AndroidPlusPlus_Common_pdb" Source="$(var.ProjectRootBin)\v12.0\AndroidPlusPlus.Common.pdb"/>

                <File Id="RootBinV120_AndroidPlusPlus_VsDebugEngine_dll" Source="$(var.ProjectRootBin)\v12.0\AndroidPlusPlus.VsDebugEngine.dll"/>
                <File Id="RootBinV120_AndroidPlusPlus_VsDebugEngine_pdb" Source="$(var.ProjectRootBin)\v12.0\AndroidPlusPlus.VsDebugEngine.pdb"/>

                <File Id="RootBinV120_AndroidPlusPlus_VsDebugLauncher_dll" Source="$(var.ProjectRootBin)\v12.0\AndroidPlusPlus.VsDebugLauncher.dll"/>
                <File Id="RootBinV120_AndroidPlusPlus_VsDebugLauncher_pdb" Source="$(var.ProjectRootBin)\v12.0\AndroidPlusPlus.VsDebugLauncher.pdb"/>

                <File Id="RootBinV120_AndroidPlusPlus_VsIntegratedPackage_dll" Source="$(var.ProjectRootBin)\v12.0\AndroidPlusPlus.VsIntegratedPackage.dll"/>
                <File Id="RootBinV120_AndroidPlusPlus_VsIntegratedPackage_pdb" Source="$(var.ProjectRootBin)\v12.0\AndroidPlusPlus.VsIntegratedPackage.pdb"/>
                <File Id="RootBinV120_AndroidPlusPlus_VsIntegratedPackage_pkgdef" Source="$(var.ProjectRootBin)\v12.0\AndroidPlusPlus.VsIntegratedPackage.pkgdef"/>
                <File Id="RootBinV120_AndroidPlusPlus_VsIntegratedPackage_vsix" Source="$(var.ProjectRootBin)\v12.0\AndroidPlusPlus.VsIntegratedPackage.vsix" KeyPath="yes">
                  <vs:VsixPackage
                    PackageId="AndroidPlusPlus.VsIntegratedPackage..d48adef5-97c8-44b1-b15a-0b1224bb3190"
                    VsixInstallerPathProperty="VS_VSIX_INSTALLER_PATH"
                    Vital="yes"
                    Permanent="no"
                  />
                </File>

              </Component>

            </Directory>

          </Directory>

          <Directory Id="RootContrib" Name="contrib">
            <!-- populated by .wixproj -->
          </Directory>

          <Directory Id="RootDocs" Name="docs">
            <!-- populated by .wixproj -->
          </Directory>

          <Directory Id="RootMsBuild" Name="msbuild">

            <Directory Id="RootMsBuildBin" Name="bin">
              <!-- populated by .wixproj -->
            </Directory>

            <Directory Id="RootMsBuildSamples" Name="samples">
              <!-- populated by .wixproj -->
            </Directory>

            <Directory Id="RootMsBuildScripts" Name="scripts">
              <!-- populated by .wixproj -->
            </Directory>

            <Directory Id="RootMsBuildTests" Name="tests">
              <!-- populated by .wixproj -->
            </Directory>

            <Directory Id="RootMsBuildToolchain" Name="toolchain">
              <!-- populated by .wixproj -->
            </Directory>

            <!-- bootstrap_vs2010.cmd -->
            <Component Id="RootMsBuildBootstrapV100Component" Guid="fa5250b2-5cc4-4ee2-910c-9298d36e7dd8">
              <File Id="RootMsBuildBootstrapV100" KeyPath="yes" Source="$(var.ProjectRootMsBuild)\bootstrap_vs2010.cmd" />
            </Component>

            <!-- bootstrap_vs2011.cmd -->
            <Component Id="RootMsBuildBootstrapV110Component" Guid="72503bf0-256d-4dbb-b63a-538812ecf551">
              <File Id="RootMsBuildBootstrapV110" KeyPath="yes" Source="$(var.ProjectRootMsBuild)\bootstrap_vs2012.cmd" />
            </Component>

            <!-- bootstrap_vs2012.cmd -->
            <Component Id="RootMsBuildBootstrapV120Component" Guid="37f7148b-d3c7-46c8-bcd6-99ae816c4e35">
              <File Id="RootMsBuildBootstrapV120" KeyPath="yes" Source="$(var.ProjectRootMsBuild)\bootstrap_vs2013.cmd" />
            </Component>

          </Directory>

          <Component Id="RootComponent" Guid="2FCE7165-8592-4387-9EDA-D6680F99778C">

            <Environment Id="Set" Action="set" Name="ANDROID_PLUS_PLUS" Value="[INSTALLFOLDER]" System="yes" />

            <File Id="RootVersion" Source="$(var.ProjectRoot)\version.txt"/>

          </Component>

        </Directory>

      </Directory>

    </Directory>

    <!--
      ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
      ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
      ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    -->

    <CustomAction Id="MsBuildBootstrapVS2010" Directory="RootMsBuildBin" Execute="immediate" ExeCommand="&quot;[RootMsBuildBin]\AndroidPlusPlus.MsBuild.Exporter.exe&quot; --template-dir &quot;[RootMsBuildScripts]\&quot; --vs-version 2010" />

    <CustomAction Id="MsBuildBootstrapVS2012" Directory="RootMsBuildBin" Execute="immediate" ExeCommand="&quot;[RootMsBuildBin]\AndroidPlusPlus.MsBuild.Exporter.exe&quot; --template-dir &quot;[RootMsBuildScripts]\&quot; --vs-version 2012" />

    <CustomAction Id="MsBuildBootstrapVS2013" Directory="RootMsBuildBin" Execute="immediate" ExeCommand="&quot;[RootMsBuildBin]\AndroidPlusPlus.MsBuild.Exporter.exe&quot; --template-dir &quot;[RootMsBuildScripts]\&quot; --vs-version 2013" />

    <CustomAction Id="MsBuildUninstallVS2010" Directory="RootMsBuildBin" Execute="immediate" ExeCommand="&quot;[RootMsBuildBin]\AndroidPlusPlus.MsBuild.Exporter.exe&quot; --uninstall --vs-version 2010" />

    <CustomAction Id="MsBuildUninstallVS2012" Directory="RootMsBuildBin" Execute="immediate" ExeCommand="&quot;[RootMsBuildBin]\AndroidPlusPlus.MsBuild.Exporter.exe&quot; --uninstall --vs-version 2012" />

    <CustomAction Id="MsBuildUninstallVS2013" Directory="RootMsBuildBin" Execute="immediate" ExeCommand="&quot;[RootMsBuildBin]\AndroidPlusPlus.MsBuild.Exporter.exe&quot; --uninstall --vs-version 2013" />

    <InstallExecuteSequence>

      <!-- Installation steps -->
      <Custom Action="MsBuildBootstrapVS2010" After="InstallFinalize">NOT Installed</Custom>
      <Custom Action="MsBuildBootstrapVS2012" After="InstallFinalize">NOT Installed</Custom>
      <Custom Action="MsBuildBootstrapVS2013" After="InstallFinalize">NOT Installed</Custom>

      <!-- Uninstall steps -->
      <Custom Action="MsBuildUninstallVS2010" After="InstallFinalize">Installed AND NOT UPGRADINGPRODUCTCODE</Custom>
      <Custom Action="MsBuildUninstallVS2012" After="InstallFinalize">Installed AND NOT UPGRADINGPRODUCTCODE</Custom>
      <Custom Action="MsBuildUninstallVS2013" After="InstallFinalize">Installed AND NOT UPGRADINGPRODUCTCODE</Custom>

    </InstallExecuteSequence>

    <!--
      ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
      ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
      ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    -->

    <Feature Id="FeatureCompletePackage" Title="$(var.ProductShortName) v$(var.VersionNumberUserVisible)" Display="expand" Level="1" ConfigurableDirectory="INSTALLFOLDER">
      
      <!-- 
        Visual Studio 2010
      -->

      <Feature Id="FeatureVs2010" Title="Visual Studio 2010 Support" Level="0">
        <Condition Level="1">
          <![CDATA[(VS2010_IDE_VC_PROJECTSYSTEM_INSTALLED)]]>
        </Condition>
        <ComponentRef Id="RootBinV100Component" />
        <ComponentRef Id="RootMsBuildBootstrapV100Component" />
      </Feature>

      <!-- 
        Visual Studio 2012
      -->

      <Feature Id="FeatureVs2012" Title="Visual Studio 2012 Support" Level="0">
        <Condition Level="1">
          <![CDATA[(VS2012_IDE_VC_PROJECTSYSTEM_INSTALLED)]]>
        </Condition>
        <ComponentRef Id="RootBinV110Component" />
        <ComponentRef Id="RootMsBuildBootstrapV110Component" />
      </Feature>

      <!-- 
        Visual Studio 2013
      -->

      <Feature Id="FeatureVs2013" Title="Visual Studio 2013 Support" Level="0">
        <Condition Level="1">
          <![CDATA[(VS2013_IDE_VC_PROJECTSYSTEM_INSTALLED)]]>
        </Condition>
        <ComponentRef Id="RootBinV120Component" />
        <ComponentRef Id="RootMsBuildBootstrapV120Component" />
      </Feature>

      <ComponentRef Id="RootComponent" />
      <ComponentGroupRef Id="RootContribComponent" />
      <ComponentGroupRef Id="RootDocsComponent" />
      <ComponentGroupRef Id="RootMsBuildBinComponent" />
      <ComponentGroupRef Id="RootMsBuildSamplesComponent" />
      <ComponentGroupRef Id="RootMsBuildScriptsComponent" />
      <ComponentGroupRef Id="RootMsBuildTestsComponent" />
      <ComponentGroupRef Id="RootMsBuildToolchainComponent" />

    </Feature>

    <!--
      ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
      ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
      ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    -->

  </Product>

  <!--
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  -->

</Wix>