/*--------------------------------------------
T2T Theme Framework
---------------------------------------------*/
#t2t_container {
	margin-top: 15px;
  position: relative;
  width: 805px;
  z-index: 0;
}
#t2t_container #header {
    background-color: #F1F1F1;
		background: #f9f9f9;
		background: -moz-linear-gradient(top,  #f9f9f9 0%, #ececec 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#ececec));
		background: -webkit-linear-gradient(top,  #f9f9f9 0%,#ececec 100%);
		background: -o-linear-gradient(top,  #f9f9f9 0%,#ececec 100%);
		background: -ms-linear-gradient(top,  #f9f9f9 0%,#ececec 100%);
		background: linear-gradient(to bottom,  #f9f9f9 0%,#ececec 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ececec',GradientType=0 );
    border: 1px solid #CCCCCC;
		border-top-left-radius: 6px;
		-moz-border-radius-topleft: 6px;
		-webkit-border-top-left-radius: 6px;
		-webkit-border-top-right-radius: 6px;
		border-top-right-radius: 6px;
		-moz-border-radius-topright: 6px;
    height: 80px;
		overflow: hidden;
}
	#t2t_container #header .logo {
	    float: left;
	    margin: 25px 20px;
			background: url("../images/icon_option.png") no-repeat scroll 0 0 transparent;
			height: 32px;
			padding-left: 45px;
	}
		#t2t_container #header h2{ padding-top: 2px; }
	#t2t_container #header .t2t-button { 
		margin: 30px 30px 0px 0px;
		float: right;
	}
	#t2t_container #header .icon-option {
	    background: url("../images/icon_option.png") no-repeat scroll 0 0 transparent;
	    float: right;
	    height: 32px;
	    margin: 25px 20px;
	    width: 32px;
	}
#t2t_container #main {
    background-color: #F1F1F1;
    border-bottom: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
		overflow: hidden;
}	
#t2t_container #t2t-nav {
    float: left;
    position: relative;
    width: 160px;
    z-index: 9999;
}
	#t2t_container #t2t-nav  ul{ 
		list-style: none;
		margin: 0;
	}
	#t2t_container #t2t-nav li {
	    margin-bottom: 0;
	}
	#t2t_container #t2t-nav ul li a:link,
	#t2t-nav ul li a:visited {
		display: block;
		padding: 10px 10px 10px 15px;
		font-family: Georgia, Serif;
		font-size: 13px;
		text-decoration: none;
		color: #797979;
		border-bottom: 1px solid #d8d8d8;
	}
	#t2t_container #t2t-nav ul li.ui-state-active a,
	#t2t-nav ul li a:hover {
		color: #21759b;
		background-color: #fff;
	}
/*--------------------------------------------
Content Area
---------------------------------------------*/
#t2t_container #content {
	float: left;
	min-height: 550px;
	width: 615px;
	margin-left: -1px;
	padding: 0 14px;
	font-family: "Lucida Grande", Sans-serif;
	background-color: #fff;
	border-left: 1px solid #d8d8d8;
}
	#t2t_container #content .section h3 {
	    border-bottom: 1px solid #E7E7E7;
	    margin: 10px 0px 20px 0px;
	    padding: 7px 0;
	}
	#t2t_container #content .section h4 {
		font-size: 13px;
		color: #777;
		margin-bottom: 3px;
		margin-top: 5px;
	}
		#t2t_container #content .section h4.icon {
			padding-left: 25px;
		}
		#t2t_container #content .section h4.icon.bg_device {
			background: url('../images/bg_device.png') no-repeat top left;
		}
		#t2t_container #content .section h4.icon.fg_device {
			background: url('../images/fg_device.png') no-repeat top left;
		}
	#t2t_container #content .section .sub_desc {
		font-size: 11px;
		display: block;
		margin-bottom: 15px;
		color: #999;
	}
	#t2t_container #content .section { margin-bottom: 20px; overflow: hidden; }
	#t2t_container .ui-tabs-hide{ display:none; }
	#t2t_container hr {
		height: 1px;
		border: none;
		color: #E7E7E7;
		background: #E7E7E7;
		width: 100%;
	}
	#t2t_container p.desc {
		font-weight: normal;
		font-size: 12px;
		color: #666666;
		margin: 0;
		margin-bottom: 0px;
	}
	#t2t_container .section p.desc {
		font-size: 12px;
	}
	#t2t_container .slider_nav {
		list-style: none;
		overflow: hidden;
		margin-bottom: -10px;
	}
		#t2t_container .slider_nav li {
			float: left;
			margin-right: 10px;
			padding: 11px 15px 14px 15px;
			-webkit-border-top-left-radius: 5px;
			-webkit-border-top-right-radius: 5px;
			-moz-border-radius-topleft: 5px;
			-moz-border-radius-topright: 5px;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}
			#t2t_container .slider_nav li a {
				color: #999;
				text-decoration: none;
			}
		#t2t_container .slider_nav li.current { background: #f5f5f5; }		
			#t2t_container .slider_nav li.current a { color: #333; font-weight: bold; }
/*--------------------------------------------
Footer
---------------------------------------------*/
#t2t_container .save_bar_top {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
		background: #f9f9f9;
		background: -moz-linear-gradient(top,  #f9f9f9 0%, #ececec 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#ececec));
		background: -webkit-linear-gradient(top,  #f9f9f9 0%,#ececec 100%);
		background: -o-linear-gradient(top,  #f9f9f9 0%,#ececec 100%);
		background: -ms-linear-gradient(top,  #f9f9f9 0%,#ececec 100%);
		background: linear-gradient(to bottom,  #f9f9f9 0%,#ececec 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ececec',GradientType=0 );
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 0 1px 1px;
    height: 35px;
    padding: 20px 30px 10px 20px;
    text-align: right;
}
	#t2t_container .t2t-button {
	    border-radius: 4px 4px 4px 4px;
	    border-style: solid;
	    border-width: 1px;
			color: #FFFFFF;
	    font-weight: bold;
	    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
			font-size: 11px;
			float: right;
	}
#t2t_container .formChanged{
	-webkit-animation: formChanged 1.5s infinite;
	background-color: #FFFFE0;
	background-image: none;
}
#t2t_container .formState{
	display: none;
	text-align: left;
	float: left;
	color: #796e30;
	font-weight: bold;
	font-size: 12px;
	line-height: 26px;
	margin-left: 5px;
}
#t2t_container .t2t_footer {
	margin-top: 10px;
	font-size: 12px;
	color: #666;
}
#t2t_container .t2t_footer .t2t_version { float: left; }
#t2t_container .t2t_footer .t2t_built { float: right; }
/*--------------------------------------------
Forms
---------------------------------------------*/
.t2t-form .row {
	clear: both;
	overflow: hidden;
	margin-bottom: 20px;
}
	.t2t-form .row label {
		font-weight: bold; 
		color: #444;
		float: left;
		width: 180px;
		padding-top: 3px;
		line-height:20px;
	}
	.t2t-form .row .content {
		float: right;
		width: 430px;
	}
		.t2t-form .row .content.check{ padding-top: 5px; }
		.t2t-form .row .content.check .hint { display: inline; }
	.t2t-form span.hint { font-size: 11px; color: #666; display: block; }
	.t2t-form .row input,
	.t2t-form .row textarea,
	.t2t-form .row select{
		width: 99%;
		-moz-border-bottom-colors: none;
	  -moz-border-image: none;
	  -moz-border-left-colors: none;
	  -moz-border-right-colors: none;
	  -moz-border-top-colors: none;
	  background-color: #F1F1F1;
	  border-color: #CCCCCC #E6E6E6 #E6E6E6 #CCCCCC;
	  border-style: solid;
	  border-width: 1px;
	  font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
	  font-size: 12px;
	  margin-bottom: 6px !important;
	  padding: 3px;
	}
	.t2t-form .row input:focus,
	.t2t-form .row textarea:focus,
	.t2t-form .row select:focus { background: #fff; }
	.t2t-form .row textarea { height: 100px; }
	.t2t-form .row select { width: 50%; }
	.t2t-form .row input.checkbox,
	.t2t-form .row input.radio { width: auto; margin: 1px 5px 0 0 !important; }
	.t2t-form .field_group {
		padding: 10px 10px 0px 10px;
		background: #f5f5f5;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		margin: 0;
		margin-bottom: 20px;
		text-shadow: none;
		overflow: hidden;
	}
		.t2t-form .field_group label{ width: 160px; }
		.t2t-form .field_group input,
		.t2t-form .field_group textarea,
		.t2t-form .field_group select { background: #fff; }
		.t2t-form .field_group b {
			display: block;
			margin-bottom: 5px;
		}
		.t2t-form .sub_group {
			padding: 10px 10px 0px 10px;
			background: #ebebeb;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			overflow: hidden;
			margin-bottom: 10px;
		}
			.t2t-form .sub_group label{ width: 140px; }
	.t2t-form .twitter_type,
	.t2t-form .logo_type {
		padding-bottom: 5px;
	}
	.t2t-form .twitter_type .label,
	.t2t-form .logo_type .label {
		font-size: 12px;
		color: #555;
		font-weight: bold;
	}
	.t2t-form .twitter_type .my_tweets,
	.t2t-form .twitter_type .search_results,
	.t2t-form .logo_type .upload,
	.t2t-form .logo_type .text {
		margin-top: 5px;
		display: none;
	}
	.t2t-form .logo_type .hint { margin-bottom: 5px; }
	.t2t-form .hide { display: none; }
	.t2t-form .tz-option-image {
		margin-top: 15px;
	}
	.t2t-form .row .sidebar_row {
		background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #F9F9F9, #F5F5F5);
		border: 1px solid #DFDFDF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 1px 0 #FFFFFF inset;
		-webkit-box-shadow: 0 1px 0 #FFFFFF inset;
		-moz-box-shadow: 0 1px 0 #FFFFFF inset;
		padding: 2px 10px 6px 10px;
		width: 410px;
	}
	.rm_options .row { margin-bottom: 15px; }
		.t2t-form .sidebar_row .delete_sidebar {
			float: right;
			font-size: 11px;
			color: #21759B;
			text-decoration: none;
			margin-top: 5px;
		}
			.t2t-form .sidebar_row .delete_sidebar:hover { color: #ff0000; text-decoration: underline; }
	.t2t-form .typography_preview {
		display: block;
		width: auto;
		right: 0;
		height:auto;
		padding:15px;
		margin:5px 0 15px 0;
		border: 2px dashed #ccc;
		border-radius: 3px;
		overflow:hidden;
		line-height: normal !important; 
	}
	.t2t-form .t2t-radio-img-img {
		border: 3px solid #fff;
		margin: 0 5px 10px 0;
		display: none;
		cursor: pointer;
		float: left;
	}

	.t2t-form .t2t-radio-img-selected { border: 3px solid #ccc; }

	.t2t-form .t2t-radio-img-img:hover { opacity: .8; }
/*--------------------------------------------
Misc
---------------------------------------------*/
#t2t_container .step {
	margin-top: 15px;
	overflow: hidden;
}
	#t2t_container .step span {
		padding: 8px 0px 8px 0px;
		background: #B6DE3E;
		-webkit-border-radius: 18px;
		-moz-border-radius: 18px;
		border-radius: 18px;
		color: #fff;
		font-weight: bold;
		font-size: 17px;
		float: left;
		width: 35px;
		text-align: center;
	}
	#t2t_container .step .instructions {
		float: right;
		width: 560px;
	}
		#t2t_container .step .instructions p{
			margin-top: 5px;
			color: #666;
		}
			#t2t_container .step .instructions p b{
				color: #444;
			}
		#t2t_container .step .instructions textarea {
			height: 115px;
		}
#t2t_container #flash_message {
	margin-left: 285px;
  margin-top: -35px;
  padding: 0 20px;
}
.t2t_wrap #edButtonHTML,
.t2t_wrap #edButtonPreview {
	background-color:#F1F1F1;
	border-color:#DFDFDF;
	color:#999999;
}
.t2t_wrap #editor-toolbar .active {
	background-color:#E9E9E9;
	border-bottom-color:#E9E9E9;
	color:#333333;
}
.t2t_wrap #editor-toolbar { height: 30px; }
.t2t_wrap .ed_button { width: auto; }
.t2t_wrap #ed_more { display: none; }
.upload_button_div { margin-bottom: 5px; margin-top: 5px; cursor: pointer; }
.upload_button_div .button { padding: 4px 14px; }
#slider_settings .upload_button_div img { display: none; }
.tz-option-image { max-width: 340px; display: block; margin-top: 5px; margin-bottom: 5px; }
.t2t_wrap .hide { display: none; }
span.upload_hint { display: block; margin-top: 8px; }

html body * span.clear, html body * div.clear, html body * li.clear, html body * dd.clear {
	background: none;
	border: 0;
	clear: both;
	display: block;
	float: none;
	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.widget span.hint {
	font-size: 11px;
	color: #777;
}
/*--------------------------------------------
Product Ordering
---------------------------------------------*/

h2.subtitle {font-size: 15px; font-style: italic; font-weight: bold}

#order-terms img {vertical-align: middle}
#order-terms #tto_sortable { list-style-type: none; margin: 20px 0 0; padding: 0; width: 100%; }
#order-terms ul {list-style: none;}
#order-terms ul.children {margin-left: 25px} 
.term_type_li .item,
#sortable li {
	cursor: move;
	background-color: #F5F5F5;
  background-image: -moz-linear-gradient(center top , #F9F9F9, #F5F5F5);
  border: 1px solid #DFDFDF;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 0 #FFFFFF inset;
  padding: 5px 10px 5px;
	overflow: hidden;
}
#sortable li span{ overflow: hidden; }
.term_type_li .item span { background: none repeat scroll 0 0 #F7F7F7;    color: #444;    display: block;    font-weight: bold;    padding: 5px;}
.term_type_li .item span.edit {position: absolute; right: 10px; top: 6px; padding: 0px; margin: 0px}
#order-terms .placeholder{border-color:#bbb;background-color:#f5f5f5; height:30px; background-image: none; -moz-border-radius: 6px 6px 6px 6px; border: 1px solid #E6E6E6;}
.term_type_li ul {margin-top: 6px}
#dragHelper li, #dragHelper ul {background: transparent !important;}
#dragHelper ul {list-style: none;}

.wp-list-taxonomy {width: 100%}
.wp-list-taxonomy thead tr th{padding-bottom: 7px}
.wp-list-taxonomy tr {background-color: #FCFCFC;}
.wp-list-taxonomy tbody th.check-column {    padding: 9px 0 22px;}
.wp-list-taxonomy td {    color: #555555;}
.wp-list-taxonomy td, .wp-list-taxonomy th {    border-bottom-color: #DFDFDF;    border-top-color: #FFFFFF;}
.wp-list-taxonomy th, .wp-list-taxonomy td {    overflow: hidden;}
.wp-list-taxonomy td {    font-size: 12px;    padding: 9px 7px 4px 7px;    vertical-align: top;}
.wp-list-taxonomy td, .wp-list-taxonomy th {    border-style: solid;    border-width: 1px 0;}
.wp-list-taxonomy * {    word-wrap: break-word;}

#cpt_info_box {padding: 0 10px; border: 1px dashed #21759B; background-color: #F1F1F1}
#cpt_info_box p {font-size: 12px}
#cpt_info_box #donate_form {float: right; padding: 10px 0 10px 10px}

#p_right {float: right; width: 170px; }
.p_s_item {float: left; padding: 0px 5px; margin-top: 15px; margin-bottom: 5px}
.p_s_item.s_gp {padding-top: 2px; margin-left: 10px}

.clear {clear: both}

#sortable { list-style-type: none; margin: 10px 0 0; padding: 0; width: 100%; }
#sortable ul { margin-left:20px; list-style: none; }
#sortable li span { display: block; background: #f7f7f7;  padding: 5px; color:#888; font-size:12px; font-weight:normal;}
#sortable li.placeholder{border: dashed 2px #ccc;background-color:#FFF;height:20px;}

#icon-settings {background-image:url("../images/admin-icon-settings.gif");background-repeat:no-repeat;}
h2.subtitle {font-size: 15px; font-style: italic; font-weight: bold}
.wrap .example { color: #666666; font-size: 11px; font-weight: bold}

#cpt_info_box {padding: 0 10px; border: 1px dashed #21759B; background-color: #F1F1F1}
#cpt_info_box p {font-size: 12px}
#cpt_info_box #donate_form {float: right; padding: 10px 0 10px 10px}

.menu_pto {margin-bottom: -2px; display: inline; padding-right: 2px}

#p_right {float: right; width: 170px; }
.p_s_item {float: left; padding: 0px 5px; margin-top: 15px; margin-bottom: 5px}
.p_s_item.s_gp {padding-top: 2px; margin-left: 10px}
div#order-post-type ul li em {
	font-style: normal;
	width: 50%;
	float: left;
	font-weight: bold;
	color: #444;
}
.clear {clear: both}
/*--------------------------------------------
Post Options
---------------------------------------------*/
.t2t-post-options .row label { width: 25%; }
.t2t-post-options .row .content { float: left; width: 75%; }
.t2t-post-options .row input,
.t2t-post-options .row textarea {
	width: 100%;
	background: #fff;
}
.t2t-post-options .content.check input { width: auto; margin: 1px 5px 0 0 !important; }
/*--------------------------------------------
Icons
---------------------------------------------*/
@font-face {
    font-family: 'entypo';
    src: url('entypo.eot');
    src: url('../fonts/entypo.eot?#iefix') format('embedded-opentype'),
         url('../fonts/entypo.woff') format('woff'),
         url('../fonts/entypo.ttf') format('truetype'),
         url('../fonts/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;
}
.icon {
	font-family: 'entypo' !important;
	-webkit-font-smoothing: antialiased;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;
	speak: none;
	font-size: 18px; line-height: 1;
}
select.icon { padding: 0px !important; width: 42px !important; height: auto !important; font-size: 18px !important; display: none; }
select.icon option { font-family: 'entypo' !important; }
div.icon_select b {
	color: #777;
	font-size: 11px;
}
	div.icon_select b span {
		font-weight: normal;
		color: #999;
	}
div.selected_icon {
	background: #fff;
	padding: 0px 10px;
	width: 150px;
	border: 1px solid #ddd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
	margin-bottom: 20px;
	margin-top: 7px;
}
	div.selected_icon p {
		margin-bottom: 0;
	}
ul.icons{
	list-style: none;
	width: 100%;
	height: 250px;
	overflow: scroll;
}
	ul.icons li {
		background: #eaeaea;
		margin-bottom: 1px;
		padding-left: 10px;
		cursor: pointer;
		overflow: hidden;
		width: 160px;
		float: left;
		margin-right: 1px;
	}
		ul.icons li:hover {
			background: #e1e1e1;
		}
	ul.icons li .icon,
	div.selected_icon .icon {
		font-size: 20px;
		line-height: 38px;
		float: left;
		width: 35px;
	}
	ul.icons li .desc,
	div.selected_icon .desc {
		font-size: 13px;
		color: #666;
		line-height: 40px;
	}
	ul.icons li.selected { background: #e1e1e1; }
	ul.icons li.selected .desc,
	ul.icons li.selected .icon {
		color: #26C051 !important;
	}
a.revert {
	font-size: 11px;
	text-decoration: none;
	position: relative;
	top: -8px;
	color: #999;
}
	a.revert .icon {
		font-size: 12px;
	}